.jumbotron{
    margin-top: 0px;
    backgroud:backgroud;
    color:black;
}
body{
    backgroud:url(https://images.unsplash.com/photo-1563013544-824ae1b704d3?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80);

}